{% extends 'base.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Omniscient eSport{% endblock %}</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/base.css') }}">  
<link rel="stylesheet" href="{{ asset('css/home.css') }}">          
       
       
       
    </head>
    <body>





<div class="background">



    <div class="content">
        <img src="{{ asset('images/logoblanco.png') }}"  alt="Omniscient Logo" >
        <h1>OMNISCIENT</h1>
        
    </div>
</div>










<section class="about-us">


    <h3>Qui sommes nous ?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius nisl ac ipsum maximus...</p>
   <a href="{{ path('app_joinus') }}"> <button>Nous Rejoindre</button></a>
</section>








 
<section class="trusted-by">
    <h3>Ils nous font confiance</h3>
    <img src="{{ asset('images/4gamericone.png') }}" alt="Logo 4gamer"   >
    <img src="{{ asset('images/logochicken.png') }}" alt="Logo chicken street"   >
</section>







<section class="main-games">
    <h3>Nos principaux jeux</h3>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('images/smash5.jpg') }}" class="d-block w-100" alt="Smash bros ultimate">
      <div class="carousel-caption d-none d-md-block">
        <h5>Smash Bros Ultimate</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/SF6.png') }}" class="d-block w-100" alt="Street Fighter 6">
      <div class="carousel-caption d-none d-md-block">
        <h5>Street Fighter 6</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/Tekken8.jpg') }}" class="d-block w-100" alt="Tekken 8">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tekken 8</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</section>








<section class="event-experience">
    <h3>L'expérience de l'événementiel</h3>
    <div class="event-gallery">
        <img src="path/to/event1.png" alt="Event 1">
        <img src="path/to/event2.png" alt="Event 2">
    </div>
</section>








{% endblock %}
