{% extends 'base.html.twig' %}

{% block title %}Nos joueurs{% endblock %}

{% block body %}



<div class="text-center">

<h1>Nos Joueurs</h1>
<p>Voici les talents que nous avons décidé de prendre sous notre aile.</p>

 </div>



    

<section class="player-display pt-5 pb-5">
{% for player in players %}

        <div class="card">
        <div class="card-info">
        <img class="card-avatar" src="images/posts/{{player.image}}"></div>
        <div class="card-title">{{player.firstname}} <pseudo>"{{player.pseudo}}"</pseudo> {{player.lastname}} </div>
        <div class="card-subtitle">{{player.game}}</div>
        </div>
        
</div>
{% endfor %}
</section>



{% endblock %}
