<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
       
       
    </head>
    <body>



{# NAVBAR #}

    <nav>

        <div class="logo">
            <a href="{{ path('app_home') }}"><img src="{{ asset('images/pp_petit.png') }}" alt="logo"></a>
        </div>


        <ul>
            <li><a href="{{ path('app_players') }}">Nos Joueurs</a></li>
            <li><a href='https://www.eliminate.fr/categorie-produit/omniscient/'>Boutique</a></li>
            <li><a href="{{ path('app_events') }}">Calendrier</a></li>
            <li><a href="{{ path('app_albums') }}">Albums</a></li>
            <li><a href="{{ path('app_news') }}">News</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>

        </ul>
            






        {% block body %}{% endblock %}
    
    
    
    
    </body>
</html>
