<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Omniscient eSport{% endblock %}</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 
<link rel="stylesheet" href="{{ asset('css/base.css') }}">          
       
       
       
    </head>
    <body>



{# NAVBAR #}




<nav class="navbar navbar-expand-lg">
  <div class="container-fluid col-lg-12">
   <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid  ">
    
    <a href="{{ path('app_home') }}"><img class="logo" src="{{ asset('images/pp_petit.png') }}" alt="logo"></a>
       
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_players') }}">Joueurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href='https://www.eliminate.fr/categorie-produit/omniscient/' target="_blank">Boutique</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_events') }}">Calendrier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_albums') }}">Albums</a>
        </li>   

        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('news_index') }}">News</a>
        </li>

         <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_joinus') }}">Nous soutenir</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_contact') }}">Contact</a>
        </li>

        {% if app.user %}
 <li class="nav-item">
    <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
</svg></a>
  </li>
   {% else  %} 
   <li class="nav-item">
    <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z"/>
  <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
</svg></a>
  </li>
       
       {% endif %}

        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}  
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('admin')}}" target="_blank" >Admin</a>
        </li>
    {% endif %}
      </ul>
    </div>
  </div>
</nav>
  </div>
</nav>


        
            






        {% block body %}{% endblock %}



  <footer class="text-center text-lg-start col-12" style="background-color: #51458A;">

    <div class="container d-flex justify-content-center py-5">

      <button  type="button" class="btn mx-2" style="background-color: #51458A;">
      <a href='https://twitter.com/Omni_eSport' target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="100" viewBox="0,0,300,150"
style="fill:#FFFFFF;">
<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M5.91992,6l14.66211,21.375l-14.35156,16.625h3.17969l12.57617,-14.57812l10,14.57813h12.01367l-15.31836,-22.33008l13.51758,-15.66992h-3.16992l-11.75391,13.61719l-9.3418,-13.61719zM9.7168,8h7.16406l23.32227,34h-7.16406z"></path></g></g>
</svg>
</a>
      </button>

     
      <button type="button" class="btn  mx-2" style="background-color: #51458A ;">
      <a href='https://discord.gg/invite/8gd3vSb9TK' target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="100" viewBox="0,0,300,150"
style="fill:#FFFFFF;">
<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(3.55556,3.55556)"><path d="M54.657,19.077c0,0 8.343,9.663 8.343,27.069v3.65c0,0 -10.536,6.866 -13.747,6.866l-3.115,-4.529c1.936,-0.867 4.577,-2.372 4.577,-2.372l-0.965,-0.747c0,0 -6.173,2.86 -13.749,2.86c-7.576,0 -13.749,-2.86 -13.749,-2.86l-0.965,0.747c0,0 2.641,1.505 4.577,2.372l-3.115,4.529c-3.213,0 -13.749,-6.866 -13.749,-6.866v-3.65c0,-17.406 8.343,-27.069 8.343,-27.069c0,0 5.707,-2.762 10.977,-3.489l1.635,3.1c0,0 2.599,-0.602 6.045,-0.602c3.446,0 6.045,0.602 6.045,0.602l1.635,-3.1c5.27,0.727 10.977,3.489 10.977,3.489zM27.01,43.603c2.656,0 4.808,-2.418 4.808,-5.401c0,-2.983 -2.153,-5.401 -4.808,-5.401c-2.655,0 -4.808,2.418 -4.808,5.401c0,2.983 2.152,5.401 4.808,5.401zM44.99,43.603c2.656,0 4.808,-2.418 4.808,-5.401c0,-2.983 -2.153,-5.401 -4.808,-5.401c-2.656,0 -4.808,2.418 -4.808,5.401c0,2.983 2.152,5.401 4.808,5.401z"></path></g></g>
</svg>
</a>
      </button>


      <button type="button" class="btn  mx-2" style="background-color: #51458A;">
      <a href='https://www.instagram.com/omniscient_esport/' target="_blank">
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="100" viewBox="0,0,300,150"
style="fill:#FFFFFF;">
<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M16,3c-7.16752,0 -13,5.83248 -13,13v18c0,7.16752 5.83248,13 13,13h18c7.16752,0 13,-5.83248 13,-13v-18c0,-7.16752 -5.83248,-13 -13,-13zM16,5h18c6.08648,0 11,4.91352 11,11v18c0,6.08648 -4.91352,11 -11,11h-18c-6.08648,0 -11,-4.91352 -11,-11v-18c0,-6.08648 4.91352,-11 11,-11zM37,11c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM25,14c-6.06329,0 -11,4.93671 -11,11c0,6.06329 4.93671,11 11,11c6.06329,0 11,-4.93671 11,-11c0,-6.06329 -4.93671,-11 -11,-11zM25,16c4.98241,0 9,4.01759 9,9c0,4.98241 -4.01759,9 -9,9c-4.98241,0 -9,-4.01759 -9,-9c0,-4.98241 4.01759,-9 9,-9z"></path></g></g>
</svg> 
</a>    
 </button>





      <button type="button" class="btn mx-2" style="background-color: #51458A;">
      <a href='https://www.tiktok.com/@omniscient.esport?is_from_webapp=1&sender_device=pc' target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="100" viewBox="0,0,300,150"
style="fill:#FFFFFF;">
<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M9,4c-2.75042,0 -5,2.24958 -5,5v32c0,2.75042 2.24958,5 5,5h32c2.75042,0 5,-2.24958 5,-5v-32c0,-2.75042 -2.24958,-5 -5,-5zM9,6h32c1.67158,0 3,1.32842 3,3v32c0,1.67158 -1.32842,3 -3,3h-32c-1.67158,0 -3,-1.32842 -3,-3v-32c0,-1.67158 1.32842,-3 3,-3zM26.04297,10c-0.5515,0.00005 -0.99887,0.44655 -1,0.99805c0,0 -0.01098,4.87522 -0.02148,9.76172c-0.0053,2.44325 -0.01168,4.88902 -0.01562,6.73047c-0.00394,1.84145 -0.00586,3.0066 -0.00586,3.10352c0,1.81526 -1.64858,3.29883 -3.52734,3.29883c-1.86379,0 -3.35156,-1.48972 -3.35156,-3.35352c0,-1.86379 1.48777,-3.35156 3.35156,-3.35156c0.06314,0 0.1904,0.02075 0.4082,0.04688c0.28415,0.03406 0.56927,-0.05523 0.78323,-0.24529c0.21396,-0.19006 0.33624,-0.46267 0.33591,-0.74885v-4.20117c-0.00005,-0.528 -0.41054,-0.965 -0.9375,-0.99805c-0.15583,-0.0098 -0.35192,-0.0293 -0.58984,-0.0293c-5.24953,0 -9.52734,4.27782 -9.52734,9.52734c0,5.24953 4.27782,9.52734 9.52734,9.52734c5.24938,0 9.52734,-4.27782 9.52734,-9.52734v-9.04883c1.45461,1.16341 3.26752,1.90039 5.26953,1.90039c0.27306,0 0.53277,-0.01618 0.78125,-0.03906c0.51463,-0.04749 0.90832,-0.47927 0.9082,-0.99609v-4.66992c0.0003,-0.52448 -0.40463,-0.9601 -0.92773,-0.99805c-3.14464,-0.22561 -5.65141,-2.67528 -5.97852,-5.79102c-0.05305,-0.50925 -0.48214,-0.89619 -0.99414,-0.89648zM27.04102,12h2.28125c0.72678,3.2987 3.30447,5.8144 6.63672,6.44531v2.86523c-2.13887,-0.10861 -4.01749,-1.1756 -5.12305,-2.85742c-0.24284,-0.36962 -0.69961,-0.53585 -1.12322,-0.40877c-0.4236,0.12708 -0.71344,0.51729 -0.71272,0.95955v11.53516c0,4.16848 -3.35873,7.52734 -7.52734,7.52734c-4.16848,0 -7.52734,-3.35887 -7.52734,-7.52734c0,-4.00052 3.12077,-7.17588 7.05469,-7.43164v2.17578c-2.71358,0.25252 -4.87891,2.47904 -4.87891,5.25586c0,2.94421 2.40735,5.35352 5.35156,5.35352c2.92924,0 5.52734,-2.30609 5.52734,-5.29883c0,0.04892 0.00186,-1.25818 0.00586,-3.09961c0.0039,-1.84143 0.01037,-4.28722 0.01563,-6.73047c0.0094,-4.3869 0.0177,-7.91447 0.01953,-8.76367z"></path></g></g>
</svg>
</a>
      </button>
    </div>

   
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      
      <p class="text-white">  Omniscient</p>
    </div>
    <footer>
  
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    </body>
</html>
